@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.skill-logo {
  @apply w-24 h-24 md:w-32 md:h-32 rounded-full transition-transform duration-300;
  animation: spinner 5s linear infinite;
}

.skill-logo:hover {
  transform: scale(1.2);
  animation-play-state: paused;
  background-color: #ffcc00;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Spinner Animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
